@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  padding: 24px 0 12px;
}

#myBoard {
  margin: 0 auto;
}

.control {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn {
  padding: 12px 24px;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: rgb(50, 149, 255);
}

.btn:hover {
  opacity: 0.8;
}
